@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

:root {
  --primary: #032541;
  --secondary: #00A0CF;
  --white: #fff;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.btn {
  padding: 10px 15px;
  background-color: var(--secondary);
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
}

.btn:hover {
  background-color: #1aa762;
  opacity: 1;
  cursor: pointer;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

input:focus {
  outline: none;
}


header {
  background-color:cadetblue;
}

header .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header a {
  color: black;
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

header a:hover {
  opacity: 0.7;
}

header .brand a {
  font-weight: 700;
  font-size: 1.5rem;
}

header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

header .nav-links li {
  display: inline-block;
  margin-right: 30px;
}

header .nav-links li a {
  color: black;
}

header .nav-links li:last-child {
  margin-right: 0;
}
/*add---------------------------------------------------------------*/

.add-content {
  padding: 50px 0;
  margin: 0 auto;
  height: 300px;
  position: relative;
}

.add-content>img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1140px;
}

.add-content>.titles {
  position: absolute;
  color: #fff;
  width: 80%;
  left: 10%;
  bottom: 100px;
  display: flex;
  flex-direction: column;
}

.add-content .titles h1 {
  font-size: 48px;
  margin: 0;
}

.add-content .titles h2 {
  font-size: 32px;
  margin: 0;
}

.add-content .input-wrapper input {
  width: 80%;
  height: 46px;
  line-height: 46px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 10%;
}

.results {
  padding: 0;
  margin: 0;
  margin-top: 350px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.results li {
  list-style: none;
}

.result-card {
  display: flex;
  margin-bottom: 20px;
}

.result-card .poster-wrapper img,
.filler-poster {
  width: 200px;
  height: 300px;
  background-color: #dbdada;
  border-radius: 5px;
  margin-right: 15px;
  display: block;
  color: transparent;
}

.result-card .info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 2rem;
}

.result-card .info .controls {
  display: flex;
  flex-shrink: 0;
}

.result-card .info .title {
  font-size: 2rem;
  color: var(--primary);
  font-weight: 600;
  margin: 0;
}

.result-card .info .release-date {
  font-size: 1.75rem;
  font-weight: 300;
  color: var(--primary);
  margin: 0;
}

.result-card .controls button {
  margin-right: 10px;
}

.cardMain{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 450px;
  margin: 15px;
  width: 280px;
}

.cardMain:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardContainer{
  padding: 2px 16px;
}